﻿@model PruebaTecnica.Models.Facturas


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-8 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Nueva factura</div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="datepicker">Fecha</label>
                                <input type="text" class="form-control date-input" id="datepicker">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="num_factura">Número de factura</label>
                                <input type="text" class="form-control" id="num_factura" value="@ViewBag.num_factura" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group dropdown col-md-6">
                                <div>
                                    <label for="tipo_pago">Tipo de pago</label>
                                </div>
                                <select name="dog-names" id="tipo_pago">
                                    <option value="select">--Seleccionar--</option>
                                    <option value="Contado">Contado</option>
                                    <option value="Crédito">Crédito</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="doc_cliente">Docuemnto cliente</label>
                                <input type="text" class="form-control" id="doc_cliente" placeholder="Documento cliente">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nombre_cliente">Nombre cliente</label>
                                <input type="text" class="form-control" id="nombre_cliente" placeholder="Nombre cliente">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="sub_total">Sub total</label>
                                <input type="number" class="form-control" id="sub_total">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="descuento">Descuento</label>
                                <input type="number" class="form-control" id="descuento" value="0">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="iva">IVA</label>
                                <input type="number" class="form-control" id="iva" value="19">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="total_descuentos">Total descuento</label>
                                <input type="text" class="form-control" id="total_descuento" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="total_impuesto">Total impuesto</label>
                                <input type="text" class="form-control" id="total_impuesto" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="total">Total</label>
                                <input type="text" class="form-control" id="total" value="0" readonly>
                            </div>
                        </div>

                        <button type="button" onclick="registrar_nuevo();" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><span style="margin: 10px">Detalle</span><button class="glyphicon glyphicon-plus"></button></div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="form-group dropdown col-md-6">
                                <div>
                                    <label for="tipo_pago">Tipo de pago</label>
                                </div>
                                <select name="dog-names" id="lst_productos">
                                    <option value="select">--Seleccionar--</option>
                                    @foreach (var item in @ViewBag.lstProds)
                                    {
                                        <option value="@item.IdProducto">@item.Producto</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="cantidad">Cantidad</label>
                                <input type="number" class="form-control" id="cantidad">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="precio">Precio unitario</label>
                                <input type="number" class="form-control" id="precio">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
}



@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker();
            //$("#dialog").dialog();
        });

        $("#sub_total,#descuento,#cantidad,#precio").keyup(function () {
            let iva = $('#iva').val();
            let total = 0;
            let sub_total = 0;
            let descuento = $('#descuento').val();
            let cantidad = $('#cantidad').val();
            let precio = $('#precio').val();
            if (cantidad != '' && precio != '') {
                sub_total = parseFloat(cantidad) * parseFloat(precio);
                let total_descuento = (parseFloat(sub_total) * parseFloat(descuento)) / parseFloat(100);
                let sub_total_desc = sub_total - total_descuento;
                let total_impuesto = (parseFloat(sub_total_desc) * parseFloat(iva)) / parseFloat(100);
                total = parseFloat(sub_total_desc) + parseFloat(total_impuesto);
                $('#sub_total').val(sub_total);
                $('#total_descuento').val(total_descuento);
                $('#total_impuesto').val(total_impuesto);
            }
            $('#total').val(total);
        });

        function validar_campos() {
            let actual = new Date();
            let fecha = new Date($('#datepicker').val());
            let total = $('#total').val();
            let tipo_pago = $('#tipo_pago').val();
            let producto = $('#lst_productos').val();
            let doc = $('#doc_cliente').val();
            let nombreCliente = $('#nombre_cliente').val();
            let valido = true;
            let mensaje = '';
            $("#dialog").empty();
            if (fecha !== '') {
                if (actual.valueOf() >= fecha.valueOf()) {
                    valido = false;
                    mensaje += '<p>La fecha NO puede ser anterior al día actual.</p>';
                }
            }
            if (total == '0') {
                valido = false;
                mensaje += '<p>El valor total de la factura no puede ser cero.</p>';
            }

            if (tipo_pago == 'select') {
                valido = false;
                mensaje += '<p>El valor tipo de pago es requerido.</p>';
            }

            if (producto == 'select') {
                valido = false;
                mensaje += '<p>El valor producto es requerido.</p>';
            }

            if (doc == '') {
                valido = false;
                mensaje += '<p>El valor documento de cliente es requerido.</p>';
            }

            if (nombreCliente == '') {
                valido = false;
                mensaje += '<p>El valor nombre del cliente es requerido.</p>';
            }
            if (!valido) {
                $("#dialog").append(mensaje);
                $("#dialog").dialog();
            }
            return valido;
        }

        function registrar_nuevo() {

            if (validar_campos() === true) {
                let requestData = {
                    'Factura': {
                        'NumeroFactura': $('#num_factura').val(),
                        'Fecha': $('#datepicker').val(),
                        'TipodePago': $('#tipo_pago').val(),
                        'DocumentoCliente': $('#doc_cliente').val(),
                        'NombreCliente': $('#nombre_cliente').val(),
                        'Subtotal': $('#sub_total').val(),
                        'Descuento': $('#descuento').val(),
                        'IVA': $('#iva').val(),
                        'TotalDescuento': $('#total_descuento').val(),
                        'TotalImpuesto': $('#total_impuesto').val(),
                        'Total': $('#total').val()
                    },
                    'LstDetalles': [
                        {
                            'IdProducto': $('#lst_productos').val(),
                            'Cantidad': $('#cantidad').val(),
                            'PrecioUnitario': $('#precio').val()
                        }
                    ]
                };
                $.ajax({
                    type: "POST",
                    url: "/Home/RegistrarFactura",
                    data: JSON.stringify(requestData),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        let mensaje = '';
                        if (response != null) {
                            mensaje = 'Factura generada exitosamente.';
                        } else {
                            mensaje = 'Ocurrio un error mientras se generaba la factura, contacte con el administrador.';
                        }
                        $("#dialog").append(mensaje);

                        $("#dialog").dialog({
                            modal: true,
                            buttons: {
                                Ok: function () {
                                    $(this).dialog("close");
                                    document.location.href = "/";
                                }
                            }
                        });

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        }
    </script>
}
