﻿@model IEnumerable<PruebaTecnica.Models.Facturas>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Facturación</h1>
</div>

<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Número de factura</th>
                <th scope="col">Nombre de cliente</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroFactura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.IdFactura }) |
                        <a onclick="confirmar_eliminar(@item.IdFactura)" href="javascript:void(0);">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



@section scripts {
    <script type="text/javascript">
        function confirmar_eliminar(id_factura) {
            $("#dialog").dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "¿Confirma que desea eliminar el registro?": function () {
                        id = { 'idFactura': id_factura };
                        $.ajax({
                            type: "POST",
                            url: "/Home/EliminarFactura",
                            data: JSON.stringify(id),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (response) {
                                let mensaje = '';
                                if (response != null) {
                                    mensaje = 'Factura eliminada exitosamente.';
                                } else {
                                    mensaje = 'Ocurrio un error mientras se generaba la factura, contacte con el administrador.';
                                }
                                $("#dialog").append(mensaje);

                                $("#dialog").dialog({
                                    modal: true,
                                    buttons: {
                                        Ok: function () {
                                            $(this).dialog("close");
                                            document.location.href = "/";
                                        }
                                    }
                                });

                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }
                        });
                        $(this).dialog("close");
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        }
    </script>
}
